# Practical_2: String and files

---

### Exercise 1:
Create a string variable `text` and assign it the value `"Python is amazing!"`.

```python
# Exercise 1
```

---

In [3]:
text = "Python is amazing !"

### Exercise 2:
Find the length of the string `"Hello, World!"` and store it in a variable `length`.

```python
# Exercise 2
```

---

In [7]:
my_str = "Hello, World!"
print(len(my_str))

13

### Exercise 3:
Convert the string `"python programming"` to uppercase and store it in a variable `upper_text`.

```python
# Exercise 3
```

---

In [12]:
upper_text ='python programming'.upper()
upper_text

'PYTHON PROGRAMMING'

### Exercise 4:
Extract the first 5 characters from the string `"Artificial Intelligence"`.

```python
# Exercise 4
```

---

In [17]:
my_str = "Artificial Intelligence"
firstè_five = my_str[:5]

firstè_five

'Artif'

### Exercise 5:
Concatenate the strings `"Hello"` and `"World"` with a space in between.

```python
# Exercise 5
```

---

In [19]:
var_1 = "Hello" +" "+ "World"
var_1

'Hello World'

### Exercise 6:
Replace the word `"dog"` with `"cat"` in the string `"The quick brown dog jumps over the lazy dog."`.

```python
# Exercise 6
```

---

In [41]:
my_str1 = "The quick brown dog jumps over the lazy dog."

print(my_str1)
my_str2 = my_str1.replace("dog", "cat")

print(my_str2)

The quick brown dog jumps over the lazy dog.
The quick brown cat jumps over the lazy cat.

### Exercise 7:
Split the string `"apple,banana,orange"` by commas and store the result in a list `fruits_list`.

```python
# Exercise 7
```

---

In [24]:
str_1 ="apple, banana, orange"
fruits_list = str_1.split(',')
fruits_list

['apple', ' banana', ' orange']

### Exercise 8:
Use string formatting to create the sentence `"My name is Alice and I am 25 years old."`, where the name and age are variables.

```python
# Exercise 8
```

---

In [34]:
name = "Alice"
age = 25

print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 25 years old

In [38]:
print("My name is",name,"and I am ",age, "years old",)

My name is Alice and I am  25 years old

### Exercise 9:
Check if the string `"python"` is present in the sentence `"I love python programming"`.

```python
# Exercise 9
```

---

In [45]:
my_str = "I love python programming"
word = "python"

answer = word in my_str
answer

True

In [51]:
my_str = "I love python programming"
answer = "python" in my_str
answer

True

In [52]:
print("python" in "I love python programming")

True

### Exercise 10:
Count the number of occurrences of the letter `"e"` in the string `"Elephant is an elegant animal"`.

```python
# Exercise 10
```

---

In [48]:
sentence = "Elephant is an elegant animal"

number_of_e = sentence.count("e")

print(number_of_e)

3

### Exercise 11:
Remove any leading and trailing spaces from the string `"   Data Science   "`.

```python
# Exercise 11
```

---

In [50]:
str_1 = "   Data Science   "

str_2 = str_1.strip()
print(str_1)
print(str_2)

   Data Science
Data Science
Data Science

### Exercise 12:
Convert the string `"100"` into an integer and store it in a variable `int_value`.

```python
# Exercise 12
```

---

In [57]:
int_value = int("100")
type(int_value)

int

### Exercise 13:
Extract the substring `"pro"` from the string `"programming"`.

```python
# Exercise 13
```

---

In [61]:
stri = "programming"
pro = stri[:3] 
pro

'pro'

In [62]:
stri = "programming"
print(stri[:3])

pro

### Exercise 14:
Check if the string `"data"` starts with `"da"` and ends with `"ta"`.

```python
# Exercise 14
```

---

In [71]:
data = "data"

print("data starts with 'da'?",data.startswith("da"))

print("data ends with 'ta'?",data.endswith("ta"))

data starts with 'da'? True
data ends with 'ta'? True

### Exercise 15:
Reverse the string `"machine learning"` and store the result in `reversed_text`.

```python
# Exercise 15
```

---

In [74]:
text = "machine learning"

reversed_text = text[::-1]
reversed_text

'gninrael enihcam'

### Exercise 16:
Convert the first letter of each word in the string `"machine learning is fun"` to uppercase.

```python
# Exercise 16
```

---

In [84]:
text1 = "machine learning is fun"
print(text1)
#text2 = text1.capitalize()
text2 = text1.title()
print(text2)

machine learning is fun
Machine Learning Is Fun

### Exercise 17:
Create a multiline string representing a poem and store it in a variable `poem`.

```python
# Exercise 17
```

---

In [89]:
poem ='''Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;
Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same ...
'''

print(poem)

Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;
Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same ...

### Exercise 18:
Write a string to a file named `"output.txt"`.

```python
# Exercise 18
```

---

In [92]:
str_1 = "Because it was grassy and wanted wear"

with open("output.txt", 'w') as file:
        file.write(str_1)


### Exercise 19:
Read the contents of a file named `"data.txt"` and print it line by line.

```python
# Exercise 19
```

---

In [6]:
file_name = "data.txt"

with open(file_name, 'r') as file:
    print("File content ",file_name)
    print("="*len(file_name)*3," \n")

    for line in file:
        print(line.strip()) # Strip() to delete the end line commande (\n), \t

File content  data.txt
========================

Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;
Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same ...

In [8]:
file_name = "data.txt"

with open(file_name, 'r') as file:
    print("File content ",file_name)
    print("="*len(file_name)*3," \n")

    for line in file:
        print(line) # compare the difference between the first display, with strip() function

File content  data.txt
========================

Two roads diverged in a yellow wood,

And sorry I could not travel both

And be one traveler, long I stood

And looked down one as far as I could

To where it bent in the undergrowth;

Then took the other, as just as fair,

And having perhaps the better claim,

Because it was grassy and wanted wear;

Though as for that the passing there

Had worn them really about the same ...

### Exercise 20:
Check if a file `"example.txt"` exists before opening it.

```python
# Exercise 20
```

---

In [13]:
import os

file_name = "example.txt"

if os.path.exists(file_name):
    print(f"The file {file_name} exists :")
    
    with open(file_name,"r") as file:
        for line in file :
            print(line.strip())
else:
    print(f"The file {file_name} does not exist")

The file example.txt does not exist

### Exercise 21:
Append a new line `"This is a new line"` to an existing file `"notes.txt"`.

```python
# Exercise 21
```

---

In [15]:
file_name = "notes.txt"

if os.path.exists(file_name):
    with open(file_name, "a") as f:
        f.write("\n" + "This is a new line")
else:
    print(f"The file {file_name} does not exists ! \nTry again")

The file notes.txt does not exists !
Try again

### Exercise 22:
Read the contents of a file `"log.txt"` and store each line in a list `log_lines`.

```python
# Exercise 22
```

---

In [29]:
file_name =".txt"

log_lines = []

if os.path.exists(file_name) : # to avoid error message

    with open(file_name,"r") as f:
        for line in f:
            log_lines = [line]

        print(f"The '{len(log_lines)}' from '{file_name}' was read and stored.")
else:
    print(f"The file {file_name} does not exist")

The '1' from 'data.txt' was read and stored.

---

### Exercise 23:
Create a new file `"report.txt"` and write the string `"Data analysis report"` to it.

```python
# Exercise 23
```

---

In [30]:
file_name ="report.txt"

with open(file_name, "w+") as f:
    f.write("Data analysis report")
    f.close()

In [31]:
file_name ="report.txt"
with open(file_name, "w") as f:
    f.write("Data analysis report")
    f.close()