# Practical_1: Variables and Assignments

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [1]:
# Exercise 1 :

x =10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [3]:
is_valid = True

### Exercise 3:
Create a string variable name with the value "Python Programming".

In [4]:
my_var = "Python Programming"

### Exercise 4:
Assign the result of 5 + 3 to a variable sum_result.

In [5]:
sum_result = 5+3

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [7]:
a , b, c =5,10,15

In [8]:
a

5

In [9]:
b

10

In [10]:
c

15


---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6

In [11]:
x= 1
y = 3

y = x

y

1

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise

In [12]:
gravity = 9.8


### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8

In [13]:
country = "Republic Democratic of Congo"

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

In [15]:
age =25

In [16]:
age = 26

In [17]:
age

26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [21]:
one_var = 20-7

In [22]:
one_var

13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [23]:
age = 34
height = 1.68

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [24]:
is_completed = False

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [30]:
x,y = 25,42

In [36]:
print("x =",x,"; y=",y)

x = 42 ; y= 25

In [33]:
temp = x
x=y
y=temp

In [37]:
print("x =",x,"; y=",y)

x = 42 ; y= 25

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

In [38]:
complex_num = 3+4j

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [39]:
my_str = str(15)

In [43]:
type(my_str)

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

In [44]:
first_name = "Christian"
last_name = "Munguaganze"

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

In [45]:
temperature = 35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [46]:
product = 8*6

In [47]:
product

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

In [49]:
sentence = "In God we trust"

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [50]:
int_value = int('50')

In [51]:
int_value

50

In [52]:
type(int_value)

int

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [53]:
quotient = 144/12

In [54]:
quotient

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

In [55]:
remainder = 47%5

In [56]:
remainder

2


### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [57]:
is_student = True

In [58]:
is_student

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

In [59]:
reste = 45%4

In [60]:
reste

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

In [61]:
pi = 3.14159

In [62]:
pi

3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

In [75]:
length = 24
width = 15

In [77]:
rect_area = length * width

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

In [78]:
negative_number = -14

In [79]:
negative_number

-14

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [80]:
greting = "Hello, Every one!"

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [82]:
population = 12567890000


### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

In [83]:
two_powe_eigth = 2**8

In [84]:
two_powe_eigth

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

In [86]:
fruits = ["bananaa", "mango","orange", "apple"]

In [87]:
fruits

['bananaa', 'mango', 'orange', 'apple']

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

In [88]:
coordinates = (256,153,15)

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

In [89]:
person = {"name":"Munguaganze", "age" : 36}

In [90]:
person

{'name': 'Munguaganze', 'age': 36}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

In [91]:
summ_of = 23.5+14.6

In [92]:
summ_of

38.1


### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

In [96]:
is_sunny = (10>5)

In [97]:
is_sunny

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

In [98]:
var1 = "hello"
var2 = 12

In [99]:
print(var1, var2)

hello 12

In [101]:
var1, var2

('hello', 12)

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

In [ ]:
my_var = 15

my_var = True

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

In [103]:
is_weekend = False

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

In [104]:
description = '''Please
submit your wotk
on time'''

In [105]:
description

'Please\nsubmit your wotk\non time'

In [106]:
print(description)

Please
submit your wotk
on time

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

In [107]:
abs_value = abs(-25)

In [108]:
abs_value

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

In [109]:
floor_div_result = 100//6

In [110]:
floor_div_result

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

In [111]:
mixed_sum = 21.75 + 12

In [112]:
mixed_sum

33.75

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

In [115]:
a = 10
b = 15
var_y = (a<b)

In [116]:
var_y

True

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

---

In [117]:
sentece = "Assign a long sentence to a variable and count its characters using "

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

---

In [118]:
division_result = 7/3

division_result

2.3333333333333335

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

In [119]:
speed = 100

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

---

y  = 3x + 5 where x = 4

In [124]:
y

25

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [125]:
average = ((12 + 4+2)/3)

In [126]:
average

6.0

In [130]:
import statistics

average = statistics.mean([12,4,2])
average

6